
## =============================================================================
# OPENAI
OPENAI_API_KEY=

# Optional (Azure), 
# Besides OPENAI_API_KEY, the following envs should be set for Azure OpenAI
OPENAI_API_TYPE=

OPENAI_API_VERSION=
OPENAI_MODEL=
OPENAI_DEPLOYMENT_NAME=

# AZURE OPENAI
AZURE_OPENAI_ENDPOINT=

## =============================================================================
# Database connection details
DB_HOST =
DB_USER =
DB_PORT =
DB_PASSWORD =
DB_NAME = 
