
.container {
  display: flex;
  flex-direction: column;

  .item-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;

    .item-container-title {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      justify-content: center;

      .title-icon {
        flex-grow: 0;
      }
      .title-label {
        margin-left: 5px;
        flex-grow: 0;
        font-size: 24px;
      }
    }
    .item-container-body {
      display: flex;
      flex-direction: column;

      .task-container {
        margin-top: 10px;
        border-top: 1px solid #649bce;

        .task-title {
          margin-bottom: 5px;
          margin-top:5px;
        }
      }
    }
  }
}


